@use "../variables" as *;

.benefits {
	background: $secondary-bg;
	padding: 88px;

	&__title {
		margin-bottom: 1rem;
	}

	&__intro {
		margin-bottom: 50px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 364px;
		img {
			width: 364px;
			margin-bottom: 1.5rem;
		}
	}
	&__subtitle {
		margin-bottom: 1.25rem;
	}
}
