@use "../variables" as *;

.fan-reviews {
	position: relative;
	text-align: center;
	background-color: $primary-bg;
	color: #fff;
	padding: 88px 2rem;

	&__carousel {
		width: 100%;
		height: fit-content;
		margin-top: 44px;
	}

	&__cell {
		width: 300px;
		position: relative;
		margin-right: 1.25rem;
		border-radius: 30px;
	}

	&__thumbnail {
		width: 100%;
		border-radius: 1rem;
	}

	&__mute-btn {
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		z-index: 2;

		svg {
			width: 38px;
			height: 38px;
			display: block;
		}
	}

	&__play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		z-index: 2;

		svg {
			width: 68px;
			height: 68px;
			display: block;
		}
	}

	&__product-tab {
		position: absolute;
		bottom: 0;
		width: 90%;
		background: white;
		color: $primary-dark;
		margin: 0.75rem;
		padding: 1rem;
		border-radius: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: start;
	}

	&__product-name {
		font-family: $font-sans;
		font-weight: 700;
		font-size: 1rem;
	}

	&__add-btn {
		font-family: $font-mono;
		text-transform: uppercase;
		background-color: $primary-dark;
		border: none;
		padding: 0.5rem 1.5rem;
		color: white;
		border-radius: 9999px;
		cursor: pointer;
	}
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
