@use "../variables" as *;

.demo {
	background: $secondary-bg;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 44px;
	padding: 116px 88px;
	justify-content: center;

	&__icon {
		width: 111px;
	}

	&__title {
		text-transform: uppercase;
	}

	&__steps {
		display: flex;
		justify-content: space-between;
		gap: 8rem;
	}

	&__step {
		max-width: 300px;
		&--wrapper {
			position: relative;
			margin-bottom: 1.25rem;
		}
	}

	&__image {
		width: 300px;
	}

	&__number {
		position: absolute;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url(/assets/Bitmap\ Copy\ 15.png);
		background-size: cover;
		font-family: $font-sans;
		font-weight: 900;
		font-size: 26px;
		top: 1.5rem;
		left: 1.5rem;
	}

	&__product {
		display: flex;
		align-items: center;
    gap: 1.75rem;
	}

	&__product-image {
		width: 60px;
		height: fit-content;
	}
}
