@use "../variables" as *;

.features {
	background: $secondary-bg;
	&__container {
		background: white;
		width: 90dvw;
		padding: 6rem 2.5rem;
		margin: auto;
		display: flex;
		justify-content: space-between;
		border-radius: 52px;
	}
	&__item {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}
	&__image {
		width: 135px;
	}
	&__text {
		max-width: 200px;
	}
}
