@use "../variables" as *;

.hero {
	height: 85dvh;
	display: flex;
	padding: 90px 88px;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background: $background;
	text-transform: uppercase;
	width: 100dvw;

	&__image {
		position: absolute;
		right: 8rem;
		img {
			width: 611px;
			height: auto;
		}
	}

	&__tagline {
		width: 60dvw;
		color: white;
		display: flex;
		flex-direction: column;
		gap: 1.15rem;

		.hero__title {
			width: 100%;
			font-family: $font-sans;
			font-weight: 900;
			letter-spacing: -1.07px;
		}

		.hero__subtitle {
			font-family: $font-mono;
		}

		.hero__button {
			padding: 0;
			background-color: $primary-accent;
			width: 314px;
			height: 56px;
			border-radius: 9999px;
			text-transform: uppercase;
			font-family: $font-mono;
			font-size: 18px;
		}
	}

	&__testimonial {
		font-family: $font-mono;
		color: white;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.hero__stars {
			width: 116px;
		}

		.hero__testimonial-user {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			.hero__user-avatar {
				width: 39px;
				height: 39px;
			}

			.hero__user-name {
				text-transform: uppercase;
			}
		}
	}
}
