@use "../variables" as *;

.results {
	text-align: center;

	&__texts-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 50dvw;
		margin: auto;
		margin-bottom: 60px;
	}

	&__title {
		text-transform: uppercase;
	}

	&__image-wrapper {
		position: relative;
	}

	&__image {
		width: 100dvw;
	}

	&__quote {
    color: white;
		text-transform: uppercase;
		position: absolute;
		width: 600px;
		top: 10rem;
		right: 8rem;
	}

  &__marquee-item {
    text-transform: uppercase;
  }
}

.results__marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 1.25rem 0;

  &-inner {
    display: flex;
    gap: 3rem;
    animation: scroll 10s linear infinite;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
