@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto+Mono:wght@900&display=swap");

$font-sans: "Inter", system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
	Arial, sans-serif;
$font-mono: "Roboto Mono", "Courier New", Courier, monospace;
$font-weight: 900;
$base-font-size: 18px;

$background: linear-gradient(
	232deg,
	rgba(70, 78, 112, 1) 0%,
	rgba(32, 55, 70, 1) 100%
);

$primary-bg: rgba(41, 42, 53, 1);
$secondary-bg: rgba(239, 247, 250, 1);

$primary-dark: rgba(46, 48, 46, 1);
$primary-accent: rgba(255, 186, 0, 1);
$secondary-accent: rgba(34, 36, 48, 1);

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
