@forward "sections";
@use "variables" as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
}

p {
	font-size: $base-font-size;
	font-family: $font-mono;
}

h1 {
	font-size: 80px;
	font-family: $font-sans;
}

h2 {
	font-size: 64px;
	font-family: $font-sans;
}

h3 {
	font-size: 50px;
	font-family: $font-sans;
}

h4 {
	font-size: 20px;
	font-family: $font-sans;
}

section {
	width: 100dvw;
}
